sim/verilator/*
sim/build/*
sim/test.bin
sim/test.mem
sim/trace.vcd
2063-Z80-cpm/
build/
sw/cpm22/cpm2-asm.zip
sw/cpm22/filesystem
sw/cpm22/cpm22-b.zip
sw/cpm22/cpm22.asm
sw/cpm22/CPM22.Z80
sw/os/disk.img
sw/os/trace.vcd
sw/os/sys.sym
sw/os/sys.lst
sw/os/sys.bin
sw/os/sim.gtkw
